%section.module.parallax.parallax-1
  .container
    %h1 Pizza
%section.module.content
  .container
    %h2 Welcome to Pizza One
    %p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
%section.module.parallax.parallax-2
  .container
    %h1 For All
%section.module.content
  .container
    %h2 Search one and done
    %p The master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
%section.module.parallax.parallax-3
  .container
    %h1 똥구멍
%section.module.content
  .container
    %h2 이리와봐
    %p 연정아 사랑해피어나기 황금시대를 보내는 봄바람이다. 소금이라 아름답고 눈에 주는 인간은 살 피다. 만천하의 살 못할 가는 능히 커다란 아름답고 뼈 쓸쓸하랴? 위하여, 인간은 심장의 꽃이 긴지라 황금시대다. 심장은 할지니, 천하를 위하여서. 청춘이 설산에서 인생에 찾아다녀도, 봄바람이다. 모래뿐일 할지라도 보는 같으며, 뜨거운지라, 스며들어 피가 사라지지 것이다. 힘차게 꽃 고행을 그것을 귀는 가지에 때문이다. 곳으로 얼마나 무엇이 천지는 이상, 너의 보이는 가는 뿐이다. 그들의 끝에 보내는 이 평화스러운 인간의 힘있다.
%footer
  .container
    .row
      .col-lg-12
        %p Copyright © Appalachian Health 2014
    / /.row
  / /.container
/ jQuery
%script{:src => "js/jquery.js"}
/ Bootstrap Core JavaScript
%script{:src => "js/bootstrap.min.js"}
  %hr
    .row
      .col-sm-4
        %img.img-circle.img-responsive.img-center{:alt => "", :src => "assets/pizza1.jpg"}
        %h2 Our Providers
        %p These providers understand the importance of having just one hub where customers can find all of their favorite pizza deals. Check out our providers below to view and search your favorite chains!
        = link_to "Get Started >>", companies_path, class: "btn btn-lg btn-warning"
      .col-sm-4
        %img.img-circle.img-responsive.img-center{:alt => "", :src => "assets/pizza2.jpg"}
        %h2 Why you ask?
        Who doesn't eat pizza? It's a win-win. Customers get the pizza they want, pizza chains get more customers! Want to list your restauran through us? Click the link below to get started! 
        %br
        %br
        = link_to "Sign Up! >>", new_user_registration_path, class: "btn btn-lg btn-warning"
        %p 
      .col-sm-4
        %img.img-circle.img-responsive.img-center{:alt => "", :src => "assets/pizza3.jpg"}
        %h2 Search One and Done
        %p Whether you're home alone, looking to order for a party, new to town and don't know the best local pizza parlors. That's why this app is amazing, the whole world of pizza is at your fingertips.
    / /.row
    %hr
      / Footer
      %footer
        .row
          .col-lg-12
            %p NotCopyright © PizzaOne 2014