
%header.business-header
  .container
    .row
      .col-lg-12
        %h1.tagline PizzaOne - Search One and Done
/ Page Content
.container
  %hr
    .row
      .col-sm-8
        %h2 What We Do
        %p Tired of opening up 10 tabs on your browser to search all of the best pizza deals? I understand your pain!
        %p We aggregate all the best pizza deals into one web application so you can easily browse and find a deal of your choice!

        %p
        %a.btn.btn-default.btn-lg{:href => "#"} More Info »
      .col-sm-4
        %h2 Contact Us
        %address
        %strong PizzaOne
        %br
        510 Mill Street
        %br
        Mount Pleasant, SC 29464
        %br
        %address
        %abbr{:title => "Phone"}> P:
        (843) 867-5309
        %br
        %p.glyphicon.glyphicon-envelope

          %a{:href => "mailto:#"} pizzaone@mailinator.com
  / /.row
  %hr
    .row
      .col-sm-4
        %img.img-circle.img-responsive.img-center{:alt => "", :src => "assets/pizza1.jpg"}
        %h2 Our Providers
        %p These providers understand the importance of having just one hub where customers can find all of their favorite pizza deals. Check out our providers below to view and search your favorite chains!
        = link_to "Get Started >>", companies_path, class: "btn btn-lg btn-warning"
      .col-sm-4
        %img.img-circle.img-responsive.img-center{:alt => "", :src => "assets/pizza2.jpg"}
        %h2 Why you ask?
        Who doesn't eat pizza? It's a win-win. Customers get the pizza they want, pizza chains get more customers! Want to list your restauran through us? Click the link below to get started! 
        %br
        %br
        = link_to "Sign Up! >>", new_user_registration_path, class: "btn btn-lg btn-warning"
        %p 
      .col-sm-4
        %img.img-circle.img-responsive.img-center{:alt => "", :src => "assets/pizza3.jpg"}
        %h2 Search One and Done
        %p Whether you're home alone, looking to order for a party, new to town and don't know the best local pizza parlors. That's why this app is amazing, the whole world of pizza is at your fingertips.
    / /.row
    %hr
      / Footer
      %footer
        .row
          .col-lg-12
            %p NotCopyright © PizzaOne 2014