.container
  %header.jumbotron
    %p
      %a.btn.btn-primary.btn-large Search Gonna B here!
  %hr/
  .row
    .col-lg-12
      %h3 Our Providers
      - @companies.each do |company|
        .col-md-3.col-sm-6.hero-feature
          .row.text-center
            .thumbnail
              = image_tag company.avatar.url
              .caption
                %h3
                  = link_to company.name, company_path(company)
                %a.btn.btn-primary
                  = company.number
%center  
  = button_to "Add your restaurant to our group!", new_company_path, class: "btn btn-lg btn-primary", method: :get
  %br 

  %hr/
  / Footer
  %footer
    .row
      .col-lg-12
        %p Copyright © Your Website 2014