%body
  .container
    .row
      .col-md-3
        %p.lead Shop Name
        .list-group
          %a.list-group-item{:href => "#"} Category 1
          %a.list-group-item{:href => "#"} Category 2
          %a.list-group-item{:href => "#"} Category 3
      .col-md-9
        .row.carousel-holder
          .col-md-12
            #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
              %ol.carousel-indicators
                %li{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
                %li.active{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
                %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
              .carousel-inner
                .item
                  %img.slide-image{:alt => "", :src => "assets/pizzashow1.jpg"}
                .item.active
                  %img.slide-image{:alt => "", :src => "assets/pizzashow2.jpg"}
                .item
                  %img.slide-image{:alt => "", :src => "assets/pizzashow3.jpg"}
              %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic"}
                %span.glyphicon.glyphicon-chevron-left
              %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic"}
                %span.glyphicon.glyphicon-chevron-right
        .row
          .col-sm-4.col-lg-4.col-md-4
            .thumbnail
              %img{:alt => "", :src => "http://placehold.it/320x150"}/
              .caption
                %h4.pull-right $24.99
                %h4
                  %a{:href => "#"} First Product
                %p
                  See more snippets like this online store item at
                  = succeed "." do
                    %a{:href => "http://www.bootsnipp.com", :target => "_blank"} Bootsnipp - http://bootsnipp.com
              .ratings
                %p.pull-right 15 reviews
                %p
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
          .col-sm-4.col-lg-4.col-md-4
            .thumbnail
              %img{:alt => "", :src => "http://placehold.it/320x150"}/
              .caption
                %h4.pull-right $64.99
                %h4
                  %a{:href => "#"} Second Product
                %p This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              .ratings
                %p.pull-right 12 reviews
                %p
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star-empty
          .col-sm-4.col-lg-4.col-md-4
            .thumbnail
              %img{:alt => "", :src => "http://placehold.it/320x150"}/
              .caption
                %h4.pull-right $74.99
                %h4
                  %a{:href => "#"} Third Product
                %p This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              .ratings
                %p.pull-right 31 reviews
                %p
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star-empty
          .col-sm-4.col-lg-4.col-md-4
            .thumbnail
              %img{:alt => "", :src => "http://placehold.it/320x150"}/
              .caption
                %h4.pull-right $84.99
                %h4
                  %a{:href => "#"} Fourth Product
                %p This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              .ratings
                %p.pull-right 6 reviews
                %p
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star-empty
                  %span.glyphicon.glyphicon-star-empty
          .col-sm-4.col-lg-4.col-md-4
            .thumbnail
              %img{:alt => "", :src => "http://placehold.it/320x150"}/
              .caption
                %h4.pull-right $94.99
                %h4
                  %a{:href => "#"} Fifth Product
                %p This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              .ratings
                %p.pull-right 18 reviews
                %p
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star-empty
          .col-sm-4.col-lg-4.col-md-4
            %h4
              %a{:href => "#"} Like this template?
            %p
              If you like this template, then check out
              %a{:href => "http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/", :target => "_blank"} this tutorial
              on how to build a working review system for your online store!
            %a.btn.btn-primary{:href => "http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/", :target => "_blank"} View Tutorial
  / /.container
  .container
    %hr/
    / Footer
    %footer
      .row
        .col-lg-12
          %p Copyright © Your Website 2014
  / /.container
  / jQuery Version 1.11.0
  %script{:src => "js/jquery-1.11.0.js"}