%body
  .container
    .row
      .col-md-3
        %p.lead
          = @company.name
        .list-group
          %a.list-group-item{:href => "#"} Category 1
          %a.list-group-item{:href => "#"} Category 2
          %a.list-group-item{:href => "#"} Category 3
      .col-md-9
        .row.carousel-holder
          .col-md-12
            #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
              %ol.carousel-indicators
                %li{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
                %li.active{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
                %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
              .carousel-inner
                .item
                  %img.slide-image{:alt => "", :src => "/assets/pizzashow1.jpg"}
                .item.active
                  %img.slide-image{:alt => "", :src => "/assets/pizzashow2.jpg"}
                .item
                  %img.slide-image{:alt => "", :src => "/assets/pizzashow3.jpg"}
              %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic"}
                %span.glyphicon.glyphicon-chevron-left
              %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic"}
                %span.glyphicon.glyphicon-chevron-right
        .row
          .col-sm-4.col-lg-4.col-md-4
            .thumbnail
              %img{:alt => "", :src => "/assets/pizzaprod1.jpg"}/
              .caption
                %h4.pull-right $24.99
                %h4
                  %a{:href => "#"} Pepperoni Pizza
                %p
                  Your choice of size brick oven pepperoni pizza
              .ratings
                %p.pull-right 15 reviews
                %p
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
          .col-sm-4.col-lg-4.col-md-4
            .thumbnail
              %img{:alt => "", :src => "/assets/pizzaprod2.jpg"}/
              .caption
                %h4.pull-right $15.99
                %h4
                  %a{:href => "#"} Pizza Rolls
                %p Rolled pizza dough with your choice of toppings!
              .ratings
                %p.pull-right 12 reviews
                %p
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star-empty
          .col-sm-4.col-lg-4.col-md-4
            .thumbnail
              %img{:alt => "", :src => "/assets/pizzaprod3.jpg"}/
              .caption
                %h4.pull-right $25.99
                %h4
                  %a{:href => "#"} Stuffed Crust
                %p Your favorite pizzas stuffed with cheese!
              .ratings
                %p.pull-right 31 reviews
                %p
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star-empty
          .col-sm-4.col-lg-4.col-md-4
            .thumbnail
              %img{:alt => "", :src => "/assets/pizzaprod4.jpg"}/
              .caption
                %h4.pull-right $24.99
                %h4
                  %a{:href => "#"} Dessert Pizza Deal
                %p 1 Medium Pizza and 1 Chocolate Chip Pizza
              .ratings
                %p.pull-right
                %p
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star-empty
                  %span.glyphicon.glyphicon-star-empty
          .col-sm-4.col-lg-4.col-md-4
            .thumbnail
              %img{:alt => "", :src => "/assets/pizzaprod5.jpg"}/
              .caption
                %h4.pull-right $14.99
                %h4
                  %a{:href => "#"} Pizza Muffins
                %p Dese r da bes.
              .ratings
                %p.pull-right 18 reviews
                %p
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star-empty
          .col-sm-4.col-lg-4.col-md-4
            %h4
              %a{:href => "#"} Add New Deal?
            %p
              Admins will see this stuff here
              
            = button_to "Add New Deal", new_company_deal_path(@company), class: "a.btn.btn-primary"
  / /.container
  .container
    %hr/
    / Footer
    %footer
      .row
        .col-lg-12
          %p Copyright © Your Website 2014
  / /.container
  / jQuery Version 1.11.0
  %script{:src => "js/jquery-1.11.0.js"}