/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require business-frontpage
 *= require shop-homepage
 *= require shop-item
 *= require heroic-features
 *= require gritter
 *= require_tree .
 *= require_self
 */ 
.col-md-3.col-sm-6.hero-feature{

  padding: 30px;
}
.caption{
background: #f2f5f6;
background: -moz-linear-gradient(top,  #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc));
background: -webkit-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
background: -o-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
background: -ms-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
background: linear-gradient(to bottom,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 );

}

.list-group-item{
background: #e2e2e2;
background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe));
background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 );

}

.list-group-item.active{
  background-color: #ba1812;
  background: #ba1812; /* Old browsers */
  background: -moz-linear-gradient(top,  #ba1812 8%, #8f0222 50%, #6d0019 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,#ba1812), color-stop(50%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ba1812 8%,#8f0222 50%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ba1812 8%,#8f0222 50%,#6d0019 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ba1812 8%,#8f0222 50%,#6d0019 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ba1812 8%,#8f0222 50%,#6d0019 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba1812', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

}

.well{

  color: black;

}

.comment-divide{

  background: #ddd; 
  clear: both; 
  float: none; 
  width: 100%; 
  height: 1px;
  margin: 0 0 1.4em;
  border: none;
}

.comment-label{

  margin-right: 400px;
  background-color: #FFFF4D;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow:         10px 10px 1px 1px #2A2A2A;
  color: black;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  background: #fefcea;
  background: -moz-linear-gradient(top,  #fefcea 0%, #f1da36 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#f1da36));
  background: -webkit-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fefcea 0%,#f1da36 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */


}

.form-label{
  margin-right: 200px;
  margin-left: 200px;
  background-color: #FFFF4D;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow:         10px 10px 1px 1px #2A2A2A;
  color: black;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  background: #fefcea;
  background: -moz-linear-gradient(top,  #fefcea 0%, #f1da36 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#f1da36));
  background: -webkit-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fefcea 0%,#f1da36 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */

}
.form-group{
  margin-right: 200px;
  margin-left: 200px;
  color: black;
  box-shadow:         10px 10px 1px 1px #2A2A2A;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; 
}
input{
  color: #000;
}

input#user_password{
  color: black;
}

input#user_email{
  color: black;
}

ul
{
    list-style-type: none;
}

.jumbotron {
  background-color: inherit;
  text-align: center;
  margin-right: 200px;
  margin-left: 200px;
}
