.business-header {

  background-image: url ('assets/pizzahead.jpg');


}

body {
  background-color: #ba1812;
  background-image: url(http://www.transparenttextures.com/patterns/brick-wall-dark.png);
  color: white;
}
